.footer
  display: flex
  justify-content: space-between
  height: 80px
  align-items: center
  position: fixed
  width: 100%
  padding: 0 20px
  bottom:0
  left:0
.footerHome
  background url('./../public/image/footer-shopping.svg') center center no-repeat
  width:80px
  height:80px
  &.activeStyle
    background url('./../public/image/footer-active-shopping.svg') center center no-repeat
.footerClassify
  background url('./../public/image/footer-classify.svg') center center no-repeat
  width 80px
  height 80px
  &.activeStyle
   background url('./../public/image/footer-active-classify.svg') center center no-repeat
.footerMe
  background url('./../public/image/footer-me.svg') center center no-repeat
  width 80px
  height 80px
  &.activeStyle
    background url('./../public/image/footer-active-me.svg') center center no-repeat


